* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    overflow-x: hidden;
    color: #333;
    line-height: 1.5;
    /* Enforce vertical stacking */
    display: flex;
    flex-direction: column;
}